<launch>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="load_gazebo_configs"               default="false"/>
  <arg name="use_joint_pub"                     default="false"/>
  <arg name="use_joint_pub_gui"                 default="false"/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="rviz_frame"                        default="$(arg robot_name)/base_bottom_link"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xshexapod_descriptions)/rviz/xshexapod_description.rviz" />
  <arg name="model"                             default="$(find interbotix_xshexapod_descriptions)/urdf/$(arg robot_model).urdf.xacro
                                                         robot_name:=$(arg robot_name)
                                                         external_urdf_loc:=$(arg external_urdf_loc)
                                                         load_gazebo_configs:=$(arg load_gazebo_configs)"/>

  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg use_joint_pub)"
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher"
    ns="$(arg robot_name)">
  </node>

  <node if="$(arg use_joint_pub_gui)"
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"
    ns="$(arg robot_name)">
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    ns="$(arg robot_name)">
  </node>

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>

</launch>
